<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  <title>Greeter</title>
</head>
<body>
  <form id="greeter-form">
    <label for="username">Enter your name</label>
    <input type="text" name="username" id="username">
    <button type="submit">Greet me!</button>
  </form>
  <div id="greet-box"></div>
</body>
</html>
